@use "base/variables" as v;
@use "base/mixins" as m;

.acciones-auth {
  @include m.tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: v.$azul;
      margin: 0;
      text-decoration: none;
      display: block;
      text-align: center;
    }
  }

  .eliminar {
    input {
      margin: 0;
    }
  }
}
