@use "base/variables" as v;
@use "base/mixins" as m;

.btn-green {
  @include m.boton(#007e33, #fff);
  padding: 1rem;
  font-size: 1.5rem;
}

.btn-yellow {
  @include m.boton(#ff8800, #fff);
  padding: 1rem;
  font-size: 1.5rem;
}

.btn-gray {
  @include m.boton(#3f3f3f, #fff);
  margin: 3rem 0;
  padding: 1.5rem;
  font-size: 1.5rem;
  display: inline;
}

.btn-red {
  @include m.boton(#cc0000, #fff);
  padding: 1rem;
  font-size: 1.5rem;
}

.btn-lightBlue {
  @include m.boton(#33b5e5, #fff);
  padding: 1rem;
  font-size: 1.5rem;
}

.boton {
  @include m.boton(v.$azul, #fff);
  margin: 3rem 0;
  padding: 1.5rem;
  font-size: 1.5rem;
}
