@use "base/variables" as v;
@use "base/mixins" as m;

.formulario {
  width: 100%;
  background-color: v.$blanco;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 1px 12px 9px -13px rgba(0, 0, 0, 0.4);

  .campo {
    label {
      display: block;
      margin: 1rem 0;
    }

    input {
      display: block;
      min-width: 100%;
      border: 1px solid v.$negro;
      border-radius: 5px;
      margin: 0 0 1.5rem 0;
      padding: 1rem;

      &:disabled {
        background-color: lighten(v.$gris, 30%);
        color: v.$negro;
        font-weight: v.$bold;
        cursor: not-allowed;
      }

      @include m.tablet {
        width: 100%;
      }
    }
  }
}
