// Fuentes
$fuente_principal: "Poppins", sans-serif;

// Tamaño de Media Queries
$telefono: 375px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$azul: #0369fc;
$rojo: #cb0000;
$verde: #329f00;
$negro: #1a1b15;
$gradient: linear-gradient(to right, #0369fc, #acceff);

$blanco: #ffffff;
$gris: #636262;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;
