@use "base/variables" as v;

.apartados {
  list-style: none;
  padding: 0;

  li {
    padding: 1rem;
    border-top: 1px solid v.$azul;
    p {
      font-weight: v.$bold;
      color: v.$azul;
    }

    span,
    .componente {
      font-weight: v.$regular;
      color: v.$negro;
    }

    &:hover {
      border: 2px solid v.$azul;
    }
  }
}

.componentes {
  @extend .apartados;

  .acciones {
    margin: 0;

    .boton,
    .boton-eliminar {
      color: v.$blanco;
      margin: 0;
    }
  }
}
